Doc/PHPDAOSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="project" type="ProjectType" />
	<xs:complexType name="ProjectType">
		<xs:sequence>
			<xs:element name="table" type="TableType" maxOccurs="unbounded" minOccurs="1" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" />
		<xs:attribute name="author" type="xs:string"></xs:attribute>
		<xs:attribute name="errorPrefix" type="xs:string"></xs:attribute>
		<xs:attribute name="namespace" type="xs:string"></xs:attribute>
		<xs:attribute name="dataBaseStyle" type="DataBaseStyleType">
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="DataSourceImplementationEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DBIAZ" />
			<xs:enumeration value="DBEN" />
			<xs:enumeration value="DB2" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TableType">
		<xs:sequence>
			<xs:element name="column" type="ColumnType" maxOccurs="unbounded" minOccurs="0" />
			<xs:element name="fk" type="ForeginKeyType" maxOccurs="unbounded" minOccurs="0">
			</xs:element>
		</xs:sequence>
		<xs:attribute name="schema" type="xs:string" />
		<xs:attribute name="name" type="xs:string" />
		<xs:attribute name="className" type="xs:string" />
		<xs:attribute name="tableSpace" type="xs:string">
		</xs:attribute>
		<xs:attribute name="indexTableSpace" type="xs:string">
		</xs:attribute>
		<xs:attribute name="errorPrefix" type="xs:string">
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ColumnType">
		<xs:attribute name="name" type="xs:string" />
		<xs:attribute name="type" type="DataTypeType" />
		<xs:attribute name="pk" type="xs:boolean">
		</xs:attribute>
		<xs:attribute name="autoGeneratedValue" type="xs:boolean">
		</xs:attribute>
		<xs:attribute name="size" type="xs:int" />
		<xs:attribute name="scale" type="xs:int" />
		<xs:attribute name="classFieldName" type="xs:string" />
	</xs:complexType>
	<xs:simpleType name="DataTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CHAR" />
			<xs:enumeration value="VARCHAR" />
			<xs:enumeration value="TEXT" />
			<xs:enumeration value="NUMBER" />
			<xs:enumeration value="DATE" />
			<xs:enumeration value="DATETIME" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ForeginKeyType">
		<xs:sequence>
			<xs:element name="connectedColumn" type="ConnectedColumnType" maxOccurs="unbounded" minOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="tableName" type="xs:string"></xs:attribute>
		<xs:attribute name="tableSchema" type="xs:string"></xs:attribute>
		<xs:attribute name="classFieldName" type="xs:string"></xs:attribute>
		<xs:attribute name="name" type="xs:string"></xs:attribute>
	</xs:complexType>
	<xs:complexType name="ConnectedColumnType">
		<xs:attribute name="fkColumnName" type="xs:string">
		</xs:attribute>
		<xs:attribute name="pkColumnName" type="xs:string">
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="DataBaseStyleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ORACLE"></xs:enumeration>
			<xs:enumeration value="MYSQL"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>